@charset "utf-8";
h3 {
	margin-bottom:5px;
}
h4{
	margin: 4px  0px;
	display: inline-block;
	padding:0 2px;
	font-weight: normal;
}
hr{
	transform: scaleY(0.5);
	background-color:#fcfcfc;
}
.body_content{
	display: flex;
	flex-direction:	row;
	height: 100vh;
}	
.board_content {
	height: 500px;
	padding: 1px 15px;
}
.comment_list{
	height: 500px;
}

.content1 label{
	font-size: 15px;
	padding:0 2px;
	color: #aeaeae;
}


.body_content button{
	border:0;
	background-color: rgba(0,0,0,0);
}
.body_content button:hover{
	font-weight: bold;
}

<!-- 댓글-작성글 선택 -->
#ud_tab {
    max-width: 600px;
    width: 90%;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    height: 300px;
}
#ud_tab input[type="radio"] {
    display: none;
}
#ud_tab label {
    display: block;
    float: left;
    width: 47%;
    margin-top:30px;
    padding-bottom:20px;
    color: #000000;
    font-size: 20px;
/*     padding: 0; */
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    background: #ffffff;
}
#ud_tab .ud_content {
    background: #fff;
    width: 100%;
    display: none;
    padding:0;
    float: left;
}
.ud_content td{
	border:0;
}

#ud_tab [id^="tab"]:checked + label {
	border-bottom :  7px solid  skyblue;
    background:  #ffffff;
    color:  #000000;
}
#tab1:checked ~ #ud_tab-content1,
#tab2:checked ~ #ud_tab-content2 {
    display: block;
}

 table {
    width: 94.6%;
    border-top: 1px solid #c7c7c7;
    border-collapse: collapse;
  }
  tr:hover{
  backgroung-color: #e1f5fe;
  }
  th, td {
    border-bottom: 1px solid #c7c7c7;
    padding: 10px;
  }
  table th{
  color: #aeaeae;
  border-radius: 7px;
  font-weight:normal;
  }  
  
  table td{
  font-size: 15px;}
  
  .horder{
  color: #aeaeae;
  }
  

/* 모달 시작*/
.modal_w_view{
	display: flex;
	flex-direction: row;
	
}

/* 유지/숨김 버튼 */
.auth_hide,
.auth_keep {
    width:100px;
    background-color: #f8585b;
    border: none;
    color:#fff;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px;
    cursor: pointer;
}


