@charset "utf-8";

.content {
	width: 550px;
	display: flex;
	flex-direction: column;
	margin-top: 25px;
}
.font{
	text-algin : left;
	margin-left : 20px; 
	margin-bottom : 15px;
}
#check {
	width: 264px;
	height: 48px;
	margin : 20px;
	margin-left: 200px;
	border: 1px solid skyblue;
	background-color: rgba(0, 0, 0, 0);
	color: skyblue;
	padding: 5px;
	border-radius: 5px;
	align-self: center;
}

#check:hover {
	color: white;
	background-color: skyblue;
}

input {
	font-family: 'Noto Sans KR', sans-serif;
	outline: 0;
	display: block;
	width : 350px;
	height: 40px;
	font-size: 1em;
	border : 1px solid #efefef;
	border-radius : 5px;
}

.textbox {
	display: flex;
	max-height: 60px;
	padding: 20px 8px 4px 8px;
	width: 550px;
	height: 60px;
	font-size : 1em;
	position: relative;
	align-self: center;
	margin-left: 202px;
}

.textbox > label{
	text-align : left;
}
.textbox > input{
	margin-left : auto;
	padding-left : 10px;
}
.textbox input:focus {
	border-bottom: solid 2px #bdbdbd;
}
#same{
	margin-left : 300px;
	
}