<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	 <mapper namespace="com.project.mapper.DocMapper">
	
	 
	 <insert id="DocInsert" parameterType="DocVO">
	
	 	<selectKey keyProperty="doc_no" order="BEFORE" resultType="int">
	 	
	 	select nvl(max(doc_no),0) +1 from community
	 	</selectKey>
		insert into community values (#{doc_no},#{doc_email},#{doc_nick},#{doc_subject},#{doc_content},sysdate,#{doc_readcount},#{doc_comment})
	 
	 </insert>
	 
	 <select id="getListCount" resultType="int">
			 
	 select count(*) from community
	 
	 </select> 
	 
	  <select id="getDocList" parameterType="DocVO" resultType="DocVO">
	
	 <![CDATA[
	 select * from (select rownum rnum,doc_no,doc_nick,doc_subject,doc_content,doc_date,doc_readcount,doc_comment 
	 from (select * from community order by doc_no desc)) where rnum>=#{startrow} and rnum<=#{endrow}
	 ]]>
	 
	 </select>
	 
	 <update id="setReadCountUpdate" parameterType="int">
	 
	 update community set doc_readcount=doc_readcount+1 where doc_no=#{doc_no}
	 
	 </update>
	 
	 <select id="getView" parameterType="int" resultType="DocVO">
	 
	 select * from community where doc_no =#{doc_no}
	 
	 </select>

	<update id="commentCount" parameterType="DocReflyVO">
	 
	 	update community set doc_comment=doc_comment+1 where doc_no =#{co_doc_no}
	 	
	 </update>
	 
	  <insert id="commentInsert" parameterType="DocReflyVO">
	<selectKey keyProperty="co_no" order="BEFORE" resultType="int">
		SELECT NVL(max(co_no),0) +1 from doc_comment
	</selectKey>
		INSERT INTO doc_comment VALUES(#{co_no},#{co_doc_no},#{co_nick},sysdate,#{co_content},#{co_secret},#{co_no},#{co_lev},#{co_seq})	
	</insert>
	
	<select id="commentList" parameterType="int" resultType="DocReflyVO">
	 
		select * from (select * from doc_comment where co_doc_no = #{co_doc_no} order by co_no) order by co_ref asc,co_seq desc
	 </select>
	
	 <update id="commentUpdate" parameterType="DocReflyVO">
	 
		UPDATE doc_comment SET CO_CONTENT = #{co_content},CO_SECRET =#{co_secret} where CO_NO = #{co_no}
		
	 </update>
	 
	  <update id="commentReflyUpdate" parameterType="DocReflyVO">
	 
	 	update doc_comment set co_seq=co_seq+1 where co_ref = #{co_ref} and co_seq >#{co_seq}
	
	 </update>
	 
	 <insert id="commentRefly" parameterType="DocReflyVO">
	 
	 	<selectKey keyProperty="co_no" order="BEFORE" resultType="int">
	 	
	 	select nvl(max(co_no),0) +1 from doc_comment
	 	
	 	</selectKey>
	 
	 
	 	INSERT INTO doc_comment VALUES(#{co_no},#{co_doc_no},#{co_nick},sysdate,#{co_content},#{co_secret},#{co_ref},#{co_lev},#{co_seq})
	 
	 </insert>
	 
	   <update id="commentSub" parameterType="DocReflyVO">
	 
	 	update community set doc_comment=doc_comment-1 where doc_no =#{co_doc_no}
	 	
	 </update>
	 
	 <delete id="commentDelete"  parameterType="DocReflyVO">
	 
		DELETE FROM doc_comment WHERE co_no = #{co_no}
	 	
	 </delete>
	 
	  <select id="DeleteCount" parameterType="int" resultType="int">
			 
	 select count(*) from doc_comment where co_ref =#{co_no}
	 
	 </select> 
	 
	 
	  <update id="DeleteUpdate" parameterType="int">
	 
	 	update doc_comment set co_lev=2 where co_no =#{co_no}
	 	
	 </update>
	 
	 
	  <update id="DocUpdate" parameterType="DocVO">
	 
	 update community set doc_subject=#{doc_subject},doc_content=#{doc_content} where doc_no=#{doc_no}
	 
	 </update>
	 
	  <delete id="DocDeleteComment"  parameterType="DocVO">
	 
		DELETE FROM doc_comment WHERE CO_DOC_NO = #{doc_no}
	 	
	 </delete>
	 
	  <delete id="DocDelete"  parameterType="DocVO">
	 
		DELETE FROM community WHERE DOC_NO = #{doc_no}
	 	
	 </delete>
	 
	 
	 </mapper>