<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	 <mapper namespace="com.project.mapper.FdocMapper">
	
	 
	 <insert id="FdocInsert" parameterType="FdocVO">
	
	 	<selectKey keyProperty="fdoc_no" order="BEFORE" resultType="int">
	 	
	 	select nvl(max(fdoc_no),0) +1 from free_doc
	 	</selectKey>
		insert into free_doc values (#{doc_no},#{doc_email},#{doc_nick},#{doc_subject},#{doc_content},sysdate,#{doc_readcount},#{doc_expiry},#{doc_code},#{doc_price},#{doc_big},#{doc_kindof},#{doc_thumbnail},#{doc_loc},#{doc_comment})
	 
	 </insert>

	 <select id="getListCount" resultType="int">
			 
	 select count(*) from free_doc
	 
	 </select> 
	 
	 <select id="getFdocList" parameterType="hashmap" resultType="FdocVO">
	
	 <![CDATA[
	 select * from (select rownum rnum,fdoc_no,fdoc_nick,fdoc_subject,fdoc_content,fdoc_date,fdoc_readcount,fdoc_expiry,fdoc_code,fdoc_price,fdoc_big,fdoc_kindof,fdoc_thumbnail,fdoc_loc,fdoc_comment 
	 from (select * from free_doc order by fdoc_no desc)) where rnum>=#{startrow} and rnum<=#{endrow}
	 ]]>
	 
	 </select>
	 
	  <update id="setReadCountUpdate" parameterType="int">
	 
	 update free_doc set fdoc_readcount=fdoc_readcount+1 where fdoc_no=#{fdoc_no}
	 
	 </update>
	 
	 <select id="getView" parameterType="int" resultType="FdocVO">
	 
	 select * from free_doc where fdoc_no =#{fdoc_no}
	 
	 </select>
	 
	 
	 <!--  댓글  -->
	 
	 
	 <insert id="commentInsert" parameterType="FdocReflyVO">
	<selectKey keyProperty="fdoc_cno" order="BEFORE" resultType="int">
		SELECT NVL(max(fdoc_cno),0) +1 from fdoc_refly
	</selectKey>
		INSERT INTO fdoc_refly VALUES(#{fdoc_cno},#{fdoc_no},#{fdoc_cnick},sysdate,#{fdoc_ccontent},#{fdoc_csecret},#{fdoc_cno},#{fdoc_lev},#{fdoc_seq})	
	</insert>
	
	 <select id="commentList" parameterType="int" resultType="FdocReflyVO">
	 <!--  
		SELECT * FROM fdoc_refly WHERE fdoc_no = #{fdoc_no} order by fdoc_cno	
		
		select * from (select * from fdoc_refly Where fdoc_no = #{fdoc_no} order by fdoc_ref asc,fdoc_seq desc) order by fdoc_cno
		-->
		select * from (select * from fdoc_refly where fdoc_no = #{fdoc_no} order by fdoc_cno) order by fdoc_ref asc,fdoc_seq desc
	 </select>
	 
	  <update id="commentUpdate" parameterType="FdocReflyVO">
	 
		UPDATE fdoc_refly SET FDOC_CCONTENT = #{fdoc_ccontent},FDOC_CSECRET =#{fdoc_csecret} where FDOC_CNO = #{fdoc_cno}
		
	 </update>
	 
	 <delete id="commentDelete"  parameterType="FdocReflyVO">
	 
		DELETE FROM fdoc_refly WHERE FDOC_CNO = #{fdoc_cno}
	 	
	 </delete>
	 
	  <update id="commentReflyUpdate" parameterType="FdocReflyVO">
	 
	 	update fdoc_refly set fdoc_seq=fdoc_seq+1 where fdoc_ref = #{fdoc_ref} and fdoc_seq >#{fdoc_seq}
	
	 </update>
	 
	 <insert id="commentRefly" parameterType="FdocReflyVO">
	 
	 	<selectKey keyProperty="fdoc_cno" order="BEFORE" resultType="int">
	 	
	 	select nvl(max(fdoc_cno),0) +1 from fdoc_refly
	 	
	 	</selectKey>
	 
	 
	 	INSERT INTO fdoc_refly VALUES(#{fdoc_cno},#{fdoc_no},#{fdoc_cnick},sysdate,#{fdoc_ccontent},#{fdoc_csecret},#{fdoc_ref},#{fdoc_lev},#{fdoc_seq})
	 
	 </insert>
	 
	 <select id="getSearchCount" parameterType="FdocVO" resultType="int">
	 select count(*) from free_doc where fdoc_kindof in
	 <foreach collection="kind_search" item="kind_search" open="(" close=")" separator=",">
	 #{kind_search}
	 </foreach>
	 or fdoc_loc in
	 <foreach collection="kind_loc" item="kind_loc" open="(" close=")" separator=",">
	 #{kind_loc}
	 </foreach>
	 or fdoc_big in
	 <foreach collection="fdoc_search" item="fdoc_search" open="(" close=")" separator=",">
	 #{fdoc_search}
	 </foreach>
	 or fdoc_kindof in
	<foreach collection="fdoc_search" item="fdoc_search" open="(" close=")" separator=",">
	#{fdoc_search}
	</foreach>
	or fdoc_loc in
	<foreach collection="fdoc_search" item="fdoc_search" open="(" close=")" separator=",">
	#{fdoc_search}
	</foreach>
	 </select>
	 
	 <select id="getSearchList" parameterType="FdocVO" resultType="FdocVO">
	
	 select * from (select rownum rnum,fdoc_no,fdoc_nick,fdoc_subject,fdoc_content,fdoc_date,fdoc_readcount,fdoc_expiry,fdoc_code,fdoc_price,fdoc_big,fdoc_kindof,fdoc_thumbnail,fdoc_loc 
	 from (
	 select * from free_doc where fdoc_kindof in
	 <foreach collection="kind_search" item="kind_search" open="(" close=")" separator=",">
	 #{kind_search}
	 </foreach>
	 or fdoc_loc in
	 <foreach collection="kind_loc" item="kind_loc" open="(" close=")" separator=",">
	 #{kind_loc}
	 </foreach>
	 or fdoc_big in
	 <foreach collection="fdoc_search" item="fdoc_search" open="(" close=")" separator=",">
	 #{fdoc_search}
	 </foreach>
	 or fdoc_kindof in
	<foreach collection="fdoc_search" item="fdoc_search" open="(" close=")" separator=",">
	#{fdoc_search}
	</foreach>
	or fdoc_loc in
	<foreach collection="fdoc_search" item="fdoc_search" open="(" close=")" separator=",">
	#{fdoc_search}
	</foreach>
	 order by fdoc_no desc)) where rnum>=#{startrow} <![CDATA[and rnum<=#{endrow}]]>
	
	 
	 
	 </select>
	 
	
	 
	  <insert id="payInsert" parameterType="Myfree_doc_confirmVO">
	 
	 	INSERT INTO free_doc_confirm VALUES(#{confirm_no},#{confirm_fdoc_no},#{confirm_fdoc_s_email},#{confirm_fdoc_r_email},#{confirm_fdoc_code},#{confirm_fdoc_expiry},#{confirm_fdoc_price},sysdate,ADD_MONTHS(sysdate,#{confirm_fdoc_expiry}),NULL,#{confirm_fdoc_kindof},#{confirm_fdoc_img})
	 
	 </insert>
	 
	 <update id="commentCount" parameterType="FdocReflyVO">
	 
	 	update FREE_DOC set fdoc_comment=fdoc_comment+1 where fdoc_no =#{fdoc_no}
	 	
	 </update>
	 
	 <delete id="FdocDelete"  parameterType="FdocVO">
	 
		DELETE FROM free_doc WHERE FDOC_NO = #{fdoc_no}
	 	
	 </delete>
	 
	  <delete id="FdocDeleteComment"  parameterType="FdocVO">
	 
		DELETE FROM fdoc_refly WHERE FDOC_NO = #{fdoc_no}
	 	
	 </delete>
	 
	 <select id="DeleteCount" parameterType="int" resultType="int">
			 
	 select count(*) from fdoc_refly where fdoc_ref =#{fdoc_cno}
	 
	 </select> 
	 
	  <update id="DeleteUpdate" parameterType="int">
	 
	 	update fdoc_refly set fdoc_lev=2 where fdoc_cno =#{fdoc_cno}
	 	
	 </update>
	 
	  <update id="FdocUpdate" parameterType="FdocVO">
	 
	 update free_doc set fdoc_subject=#{fdoc_subject},fdoc_content=#{fdoc_content},fdoc_expiry=#{fdoc_expiry},fdoc_price=#{fdoc_price},fdoc_big=#{fdoc_big},fdoc_kindof=#{fdoc_kindof},fdoc_thumbnail=#{fdoc_thumbnail},fdoc_loc=#{fdoc_loc} where fdoc_no=#{fdoc_no}
	 
	 </update>
	 
	  <update id="commentSub" parameterType="FdocReflyVO">
	 
	 	update FREE_DOC set fdoc_comment=fdoc_comment-1 where fdoc_no =#{fdoc_no}
	 	
	 </update>
	 
	 
	 
	 
	 </mapper>