<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.JJBoardMapper">
	
	<!-- 홈 검색 리스트 -->
		<select id="getSearch_free_List" parameterType="String" resultType="JJBoardVO">
		select fdoc_no as num ,nick,subject,c_date,readcount
		from free_doc where subject like '%'||#{keyword}||'%' or c_content like '%'||#{keyword}||'%'
		order by c_date desc
		
		</select>
	
 		<select id="getSearch_commu_List" parameterType="String" resultType="JJBoardVO">
  		select num,nick,subject,c_date,readcount
		from community where subject like '%' || #{keyword}|| '%' or c_content like '%' ||#{keyword} || '%'
		order by c_date desc
		</select>
		
		<select id="getSearch_adopt_List" parameterType="String" resultType="JJBoardVO">	
		select num,nick,subject,c_date,readcount
		from adopt_list where subject like '%' ||#{keyword}|| '%' or c_content like '%' ||#{keyword}|| '%'
		order by c_date desc
		</select>
		
	
		


	<select id="getSDetail"  parameterType="int" resultType="JJBoardVO">
		 select num,subject,c_content, nick,c_date
		from (
		select
		num,subject,c_content, nick,c_date
		from doc_c where num like '%' || #{b_no}|| '%'
		
		union all
		
		select
		num,subject,c_content, nick,c_date
		from adopt_list where num like '%' || #{b_no}|| '%'
		
		union all
		
		select
		care_no as num,care_kind as subject,care_comp as nick,care_date as c_date,care_etc as c_date
		from care_pet where care_no like '%' || #{b_no}|| '%'
		)

	</select>
<!--  홈페이지 검색 SQL 끝 -->


	
	<select id="getListCount" resultType="int">
		select count(*) from smemberboard2
	</select>
	<!-- CDATA는 태그안에서 전부 문자열로 치환 -->
	<!-- <나 (와 같은 기호를 관호인지 아니면 비교연산지인지 확인이 안되고 특수문자 사용하는데 제한됨 -->
	
	<select id="getBoardList" parameterType="HashMap"	resultType="JJBoardVO">
		<![CDATA[
		select num,id,subject,content,re_ref,re_lev,re_seq,readcount,boarddate
		 from (select rownum rnum,num,id,subject,content,re_ref,re_lev,re_seq,readcount,boarddate 
		 from (select * from smemberboard2 order by re_ref desc,re_seq asc))
			where rnum>=#{startrow} and rnum<=#{endrow} 
		]]>
	</select>
	
	<select id="getDetail"  parameterType="int" resultType="JJBoardVO">
		select * from doc_c where b_no = #{num}
	</select>
	
	<!-- VER 1 -->
	<insert id="boardInsert" parameterType="JJBoardVO">
  <!-- <selectKey>는 insert구문에만 사용가능 -->
  <!-- order 값은 "BEFORE|AFTER" 대문자 사용할것 -->
  <!-- KeyProperty = "num"에서 num은 컬럼 명이다. -->
  <selectKey keyProperty="num" order="BEFORE" resultType="int">
    select nvl(max(num),0)+1 from smemberboard2
  </selectKey>
  insert into smemberboard2 values 
  (#{num},#{id},#{subject},#{content},#{org_file},#{up_file},#{num},#{re_lev},#{re_seq},#{readcount},sysdate)
</insert>
	<!-- num  은 인서트에서 2개의 넘에 사용된다/ 넘의 타입은 인트-->
	
	
	<!-- myinfo_write -->
	<select id="my_boardList" parameterType="String" resultType="JJABoardVOto" >
	select * from community where doc_email =#{email}
	</select>
	<select id="my_commenList" parameterType="String" resultType="JJCommentVO">
	select * from doc_comment where doc_email=#{email}
	</select>
	

</mapper>